@import "tailwindcss";

:root {
  --main-color: #3C82F6;
  --sub-color1: #4f5660;
  --sub-color2: #c7cdd8;
  --card-color1: #f8fbff;
  --card-color2: #f2f2f2;
  --un-color: #b9b9b9;
  --red-color: #EF4444;
  --green-color: #22C55E;
  --pink-color: #f97cd2;
  --font-size: 16px;
}

@font-face {
  font-family: 'MainFont';
  src: url('/fonts/NotoSansThai-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: Arial, 'MainFont', sans-serif;
}
.hdcard_white{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.132);

}

.align_item_center{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.main_bg{
  background-color: var(--main-color);
}
.sub_bg1{
  background-color: var(--sub-color1);
}
.card_bg1{
  background-color: var(--card-color1);
}
.card_bg2{
  background-color: var(--card-color2);
}
.un_bg{
  background-color: var(--un-color);
}
.red_bg{
  background-color: var(--red-color);
}
.green_bg{
  background-color: var(--green-color);
}
.pink_bg{
  background-color: var(--pink-color);
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.home_header{
  font-size: 50px;
  font-weight: 600;
  color: var(--main-color);
}
.home_subheader{
  font-size: 30px;
  font-weight: 600;
}
.home_text{
  color: var(--sub-color1);
  font-size: 18px;
}

.main_text{
  color: var(--main-color);
}
.sub_text{
  color: var(--sub-color1);
}
.sub_text2{
  color: var(--sub-color2);
}
.un_text{
  color: var(--un-color);
}


.bigcard_image_container{
  background-color: gray;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  height: 133px;
  border-radius: 7px;
  overflow: hidden;
}

.clickButton{
  scale: 1;
  transition: all 0.1s ease-in-out;
}
.clickButton:active{
  scale: 0.8;
}

.hide_scrollbar{
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide_scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fade-in 0.4s ease-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}
.animate-fade-out {
  animation: fade-out 0.5s ease-out;
}